body {
	font-family: 'Arial';
	font-size: 16px
}

.table .table-header div {
	display: inline-block;
	vertical-align: top;
	height: 34px;
	text-align: center;
	padding: 7px 10px;
	border: 1px solid black;
	background-color: #dddddd;
	cursor: default;
	box-sizing: border-box;
}

.table .table-row .table-row-wrapper div {
	display: inline-block;
	vertical-align: top;
	height: 34px;
	text-align: center;
	padding: 7px 10px;
	border: 1px solid black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #f6f6f6;
	cursor: default;
	box-sizing: border-box;
}

button {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 3px 5px;
	border: 1px solid grey;
	font-size: 16px;
	background-color: #ababab;
	cursor: pointer;
	color: #666666;
}

button:hover {
	color: #444444;
	border-color: #444444;
}

 .table-row-wrapper {
 	display: block;
 }

.table .table-header div:first-child, .table .table-row .table-row-wrapper div:first-child, form input:first-child {
	width: 50px;
}

.table .table-header div:nth-child(2), .table .table-row .table-row-wrapper div:nth-child(2), form input:nth-child(2) {
	width: 135px;
}

.table .table-header div:nth-child(3), .table .table-row .table-row-wrapper div:nth-child(3), form input:nth-child(3) {
	width: 135px;
}

.table .table-header div:nth-child(4) {
	width: 135px;

}

.table .table-row .table-row-wrapper div:nth-child(4) {
	width: 135px;
	padding: 3px 5px;
}

form.create-form {
	margin-top: 2px;
}

form input {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 7px 10px;
	border: 1px solid black;
	font-size: 16px;
	color: #666666;
	box-sizing: border-box;
}

form.create-form button {
	padding: 7px 10px;
	width: 135px;
